<ng-container *ngIf="screen">
    <table>

        <div *ngFor="let xA of screen; let x = index">
            <tr>
                <td *ngFor="let yA of xA; let y = index" title="{{x}} {{y}}" (click)="setBlock(x,y)">

                    <ng-container *ngIf="screen[x][y]">
                        ■
                    </ng-container>
                    <ng-container *ngIf="!screen[x][y]">
                        □
                    </ng-container>

                </td>
            </tr>
        </div>

    </table>
</ng-container>