<div>
    <h3 class="wipf">E-LCD</h3>
    <hr>

    <ng-container *ngIf="online === 'true'">
        <div>
            Nachricht senden:
            <input (input)="txt = $event.target.value" type="text" class="form-control" />
            <button (click)="sendMsg()">Send</button>
        </div>
        <div>
            <button class="btn" (click)="cls()">Clear Screen</button>
        </div>
        {{ STATUS }}
    </ng-container>
    <ng-container *ngIf="online === 'false'">
        <h5>E-LCD ist offline</h5>
    </ng-container>
    <hr />
    <ng-container *ngIf="online !== 'false' && online !== 'true'">
        <h5>Bitte Warten</h5>
        <hr>
    </ng-container>
</div>