.pscroll {
  height: 76vh;
}

.crData {
  margin-bottom: 20px;
}

// Muss bleiben, da styles.less hier nicht genommen wird???
.hide {
  display: none;
}

.counter {
  border: 1px solid black;
  background-color: yellowgreen;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  margin-right: 3px;
  border-radius: 5px;
  font-size: larger;
}