<h1 mat-dialog-title>Id: {{data.id}}</h1>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="data.typeid">
            <mat-option *ngFor="let type of listeType" [(value)]="type.id" [ngStyle]="{ 'background': lsColor.idToColor(type.id)}">
                {{type.typename}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Inhalt</mat-label>
        <textarea [(ngModel)]="data.data" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Datum</mat-label>
        <input matInput type="date" [(ngModel)]="data.date">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>