<div class="dialogbox">
    <!-- TODO: LESS DATEI -->
    <h1 mat-dialog-title>Id: {{data.id}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Inhalt</mat-label>
            <textarea [(ngModel)]="data.data" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
        </mat-form-field>
        <br>
        TODO: datum und Type
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="data.active">
            Aktiv
        </mat-checkbox> -->
        <mat-form-field>
            <mat-label>Wert</mat-label>
            <input matInput [(ngModel)]="data.typeid">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Datum</mat-label>
            <input matInput type="date" [(ngModel)]="data.date">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
        <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
    </div>
</div>