<h1 mat-dialog-title>Id: {{data.id}}</h1>

<mat-dialog-content>
    <div class="crData">
        {{data.data}}
    </div>

    <mat-form-field>
        <mat-label>Schlüssel</mat-label>
        <input matInput [(ngModel)]="sKey" (keyup)="changeKey()">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Daten</mat-label>
        <textarea [(ngModel)]="sDecrypt" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20" (keyup)="changeDaten()"></textarea>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>