<div>
    <h3>Filme</h3>
    <div class="filme">
        <perfect-scrollbar class="pscroll">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="titel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
                    <td mat-cell *matCellDef="let element"> {{element.titel}} </td>
                </ng-container>

                <ng-container matColumnDef="bewertung">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bewertung </th>
                    <td mat-cell *matCellDef="let element"> {{element.bewertung}} </td>
                </ng-container>

                <ng-container matColumnDef="gesehen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gesehen </th>
                    <td mat-cell *matCellDef="let element"> {{element.gesehenDate}} </td>
                </ng-container>

                <ng-container matColumnDef="art">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Art </th>
                    <td mat-cell *matCellDef="let element"> {{element.art}} </td>
                </ng-container>

                <ng-container matColumnDef="infotext">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Infotext </th>
                    <td mat-cell *matCellDef="let element"> {{element.infotext}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="editby">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EditBy </th>
                    <td mat-cell *matCellDef="let element"> {{element.editby}} </td>
                </ng-container>

                <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef><button class="btn btn-default" (click)="newItem()">Neu</button></th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-default" (click)="openDialog(element)">Edit</button>
                        <button class="btn btn-default" (click)="deleteItem(element)">Löschen</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </perfect-scrollbar>
    </div>
</div>