//@import "@egjs/view360/css/view360.min.css";

.v360 {
  width: 100%;
  height: calc(100% - 25px);
  background-color: black;
}

.v360Big {
  width: 100%;
  height: 100%;
  background-color: black;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
}

.galerie_item {
  border: 1px solid gray;
  width: 25%;
  height: 150px;
}