//@import "@egjs/view360/css/view360.min.css";

.v360 {
  width: 100%;
  height: calc(100% - 25px);
  background-color: black;
}

.v360Big {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
}

.galerie_item {
  border: 1px solid gray;
  width: 25%;
  height: 150px;
}

.pscroll {
  height: 76vh;
}

.v360back {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.hide {
  display: none;
}