//@import "@egjs/view360/css/view360.min.css";

.v360 {
  width: 200px;
  height: 100px;
  background-color: black;
}

.v360Big {
  width: 100%;
  height: 100%;
  background-color: black;
}

.galerie {
  display: flex;
}

.galerie_item {
  border: 1px solid gray;
}