<h3>Seiten</h3>
<hr>

<div class="jalist">
    <div class="gridRow">
        <div class="gridCol">
            <perfect-scrollbar style="max-width: 600px; max-height: 500px;">

                <div>
                    <button type="button" class="btn btn-primary inbutton" (click)="last()">Seite zurück</button> {{selectedPage}}
                    <button type="button" class="btn btn-primary inbutton" (click)="next()">nächste Seite</button>
                </div>

                <div>
                    <ng-container *ngIf="japage">
                        ID: {{japage.id}}
                        <div>
                            <h5>Name</h5>
                            <input type="string" class="form-control inbutton" [(ngModel)]="japage.name" placeholder="Bitte eintragen">
                        </div>

                        <h5>Zeilen</h5>
                        <div *ngFor="let line of japage.lines; let i = index; trackBy:trackByIndex;">
                            <input type="string" class="form-control inputText" [(ngModel)]="japage.lines[i].data" placeholder="Zeile {{i}}">
                            <!-- <input type="checkbox" ng-model="options"> -->
                            <mat-form-field>
                                <!-- <mat-label>Option</mat-label> -->
                                <mat-select [(ngModel)]="japage.lines[i].option" name="option">
                                  <mat-option *ngFor="let option of optionnumbers" [value]="option">
                                      <ng-container *ngIf="option == 48">
                                        Linksbündig
                                      </ng-container>
                                      <ng-container *ngIf="option == 49">
                                        Mittig
                                      </ng-container>
                                      <ng-container *ngIf="option == 50">
                                        Rechtsbündig
                                      </ng-container>

                                    
                                
                                </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                    </ng-container>
                </div>

                <!-- <button type="button" class="btn btn-primary inbutton" (click)="save()">Speichern</button> -->
                <!-- <button type="button" class="btn btn-primary inbutton" (click)="selectPage()">Zeigen</button> -->
                <button type="button" class="btn btn-primary inbutton" (click)="saveAndSelectPage()">Speichern und
                    Zeigen</button>
            </perfect-scrollbar>
        </div>

        <div class="gridCol">
            <h4>Funktionen</h4>
            <perfect-scrollbar style="max-width: 600px; max-height: 500px;">
                <h5>Zeit</h5>

                <ul>
                    <li><code>$time(Parameter mit Trennzeichen)</code></li>
                    <li><code>$time(HH:mm:ss)</code></li>
                    <li><code>$time(dd MMMM yyyy)</code></li>
                    <li><code>$time(dd.MM.yy)</code></li>
                    <li><a target="blank" href="https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html">Weitere</a>
                    </li>
                </ul>

                <h5>Balken</h5>
                <ul>
                    <li><code>$bar(Variable|Maximaler Wert|Länge)</code></li>
                    <li><code>$bar($time(ss),60,20))</code></li>
                    <li><code>$bar($time(ss)+10,60,20))</code></li>
                </ul>

                <h5>Mathe</h5>
                <ul>
                    <li><code>$math(Rechnung)</code></li>
                    <li><code>$math([[4 - 2^3 + 1] * -sqrt[3*3+4*4]] / 2)</code></li>
                    Als Klammer kann <code>[]</code> verwendet werden
                </ul>

                <h5>Zufall</h5>
                <ul>
                    <li><code>$rnd(MaxZahl)</code></li>
                    <li><code>$rnd(42)</code></li>
                </ul>

            </perfect-scrollbar>
        </div>
    </div>
</div>