.dyConfig {
    display: flex;
}

table {
    width: 128px;
}

td {
    text-align: left;
    width: 1px;
    height: 1px;
}

.on {
    background-color: black;
}

.off {
    background-color: white;
}

.pscroll {
    height: 400px;
}

.images {
    display: flex;
}

button {
    margin-right: 10px;
}