<ng-container *ngIf="lcdDescription">
    <h1> Seite: {{lcdDescription.id}} - {{lcdDescription.name}}</h1>

    <button type="button" class="btn btn-default pfeile" (click)="pageLast()" title="Letzte Seite">←</button>
    <button type="button" class="btn btn-default pfeile" (click)="pageNext()" title="Nächste Seite">→</button>

    <mat-form-field appearance="fill">
        <mat-label>Seitenname</mat-label>
        <input matInput [(ngModel)]="lcdDescription.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Timeout Zeit</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="lcdDescription.timeouttime">
    </mat-form-field>
    <button type="button" class="btn btn-primary" (click)="addDynLine()">Dynamische Anweisung hinzufügen</button>
    <button type="button" class="btn btn-green" (click)="sendSelectedPage()" title="Speichern und zeigen">
        <mat-icon svgIcon="check_circle" aria-hidden="false"></mat-icon>
    </button>

    <button type="button" class="btn btn-primary" (click)="openariablenHilfeDialog()" title="Variablen anzeigen">
        <mat-icon svgIcon="info" aria-hidden="false"></mat-icon>
    </button>
    <hr>

    <div class="images">

        Hintergrundbild Bild hochladen:
        <input type="file" (change)="fileChangeEvent($event)" />


        <ng-container *ngIf="base64">
            <img [src]="base64" alt="" height="128" width="256">

            <mat-form-field appearance="fill">
                <mat-label>Kontrast</mat-label>
                <input matInput type="number" max="256" min="0" (ngModelChange)="convertImgToArray()" [(ngModel)]="nKontrast" placeholder="128">
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="lcdDescription.static">
            Aktelles Bild:

            <table>
                <div *ngFor="let xA of lcdDescription.static; let x = index">
                    <tr>
                        <td *ngFor="let yA of xA; let y = index" title="X:{{x}} Y:{{y}}" [ngClass]="{ 'on': lcdDescription.static[x][y] , 'off': !lcdDescription.static[x][y] }">
                        </td>
                    </tr>
                </div>
            </table>
            Aktelles Bild löschen:
            <button class="btn btn-danger" (click)="clearPic()">löschen</button>
        </ng-container>
    </div>

    <hr>
    <h3>Inhalt</h3>

    <perfect-scrollbar class="pscroll">
        <div *ngFor="let dy of lcdDescription.dynamic; let i = index" class="dyConfig">

            <mat-form-field appearance="fill">
                <mat-label>Typ</mat-label>
                <mat-select [(value)]="lcdDescription.dynamic[i].type">
                    <mat-option value="TEXT">Text</mat-option>
                    <mat-option value="CIRCLE_EMPTY">Kreis</mat-option>
                    <mat-option value="CIRCLE_FILL">Kreis gefüllt</mat-option>
                    <mat-option value="LINE_H">Linie horizontal</mat-option>
                    <mat-option value="LINE_V">Linie vertikal</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="lcdDescription.dynamic[i].type === 'TEXT'">
                <mat-form-field appearance="fill">
                    <mat-label>Schriftart</mat-label>
                    <mat-select [(value)]="lcdDescription.dynamic[i].font">
                        <mat-option value="FONT_57_ON">57 an</mat-option>
                        <mat-option value="FONT_68_ON">68 an</mat-option>
                        <mat-option value="FONT_57_OFF">57 aus</mat-option>
                        <mat-option value="FONT_68_OFF">68 aus</mat-option>
                        <mat-option value="FONT_57_INVERT">57 invers</mat-option>
                        <mat-option value="FONT_68_INVERT">68 invers</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <input matInput [(ngModel)]="lcdDescription.dynamic[i].data">
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="lcdDescription.dynamic[i].type !== 'TEXT'">
                <mat-form-field appearance="fill">
                    <mat-label>Art</mat-label>
                    <mat-select [(value)]="lcdDescription.dynamic[i].font">
                        <mat-option value="ON">an</mat-option>
                        <mat-option value="OFF">aus</mat-option>
                        <mat-option value="INVERT">invers</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Parameter</mat-label>
                    <input matInput [(ngModel)]="lcdDescription.dynamic[i].data">
                </mat-form-field>
            </ng-container>


            <mat-form-field appearance="fill">
                <mat-label>x</mat-label>
                <input matInput [(ngModel)]="lcdDescription.dynamic[i].x">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>y</mat-label>
                <input matInput [(ngModel)]="lcdDescription.dynamic[i].y">
            </mat-form-field>

            <button (click)="delDynLine(i)">Zeile Löschen</button>
        </div>
    </perfect-scrollbar>



</ng-container>

<ngx-photo-editor [imageChanedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)" [viewMode]="3" [resizeToHeight]="64" [aspectRatio]="2/1" [darkTheme]="true">
</ngx-photo-editor>