<div class="jalist">
    <perfect-scrollbar style="max-width: 600px; max-height: 500px;">

        <div>
            <button type="button" class="btn btn-primary inbutton" (click)="last()">Seite zurück</button>
            <button type="button" class="btn btn-primary inbutton" (click)="save()">Save</button>
            <button type="button" class="btn btn-primary inbutton" (click)="next()">nächste Seite</button> {{selectedPage}}
        </div>
        <button type="button" class="btn btn-primary inbutton" (click)="newPage()">NewPage</button>
        <button type="button" class="btn btn-primary inbutton" (click)="selectPage()">SelectPage</button>

        <div>
            <ng-container *ngIf="japage">
                Seite {{japage.id}}
                <div>
                    <label for="formGroupExampleInput2">Name</label>
                    <input type="string" class="form-control inbutton" [(ngModel)]="japage.name" placeholder="Bitte eintragen">
                </div>

                <label for="formGroupExampleInput2">Zeilen</label>
                <div *ngFor="let line of lines; let i = index">
                    <input type="string" class="form-control inbutton" [(ngModel)]="lines[i]" placeholder="Zeile {{i}}">
                </div>

                <div>
                    <label for="formGroupExampleInput2">options</label>
                    <input type="string" class="form-control inbutton" [(ngModel)]="japage.options" placeholder="Bitte eintragen">
                </div>

            </ng-container>
        </div>

    </perfect-scrollbar>
</div>