<div class="jalist">
    <perfect-scrollbar style="max-width: 600px; max-height: 500px;">

        <div>
            <button type="button" class="btn btn-primary inbutton" (click)="last()">Seite zurück</button> {{selectedPage}}
            <button type="button" class="btn btn-primary inbutton" (click)="next()">nächste Seite</button>
        </div>

        <div>
            <ng-container *ngIf="japage">
                ID: {{japage.id}}
                <div>
                    <h5>Name</h5>
                    <input type="string" class="form-control inbutton" [(ngModel)]="japage.name" placeholder="Bitte eintragen">
                </div>

                <h5>Zeilen</h5>
                <div *ngFor="let line of lines; let i = index; trackBy:trackByIndex;">
                    <input type="string" class="form-control inputText" [(ngModel)]="lines[i]" placeholder="Zeile {{i}}">
                    <!-- <input type="checkbox" ng-model="options"> -->
                </div>

                <div>
                    <h5>options</h5>
                    <input type="string" class="form-control inputText" [(ngModel)]="japage.options" placeholder="Bitte eintragen">
                </div>

            </ng-container>
        </div>

        <button type="button" class="btn btn-primary inbutton" (click)="save()">Save</button>
        <button type="button" class="btn btn-primary inbutton" (click)="selectPage()">SelectPage</button>


    </perfect-scrollbar>
</div>