<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- TODO: LESS DATEI -->
        <h1 mat-dialog-title>Id: {{data.id}}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Data</mat-label>
                <!-- <input matInput [(ngModel)]="data.data"> -->


                <textarea [(ngModel)]="data.data" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
   

            </mat-form-field>
            <br>

            <!-- <mat-label>Status</mat-label> -->
            <!-- <input matInput [(ngModel)]="data.active"> -->

            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="data.active">
                    <!-- <mat-option>None</mat-option> -->
                    <mat-option value="NEW">Neu</mat-option>
                    <mat-option value="DONE">Fertig</mat-option>
                    <mat-option value="TODO">Zu Tun</mat-option>
                    <mat-option value="LATER">Später</mat-option>
                    <mat-option value="ZITAT">Zitat</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Abbrechen</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>