<h1>Glowi</h1>
<table>
    <tr *ngFor="let xA of mtttData; let x = index">
        <td *ngFor="let yA of xA; let y = index" title="{{x}}/{{y}}" [ngStyle]="{'background-color': 'rgba('+(mtttData[x][y].farbe_R)+','+(mtttData[x][y].farbe_G)+','+(mtttData[x][y].farbe_B)+')'}" class="led-box" (click)="doClick(x,y)">
            <div>
                {{mtttData[x][y].funktion}}
            </div>
        </td>
    </tr>
</table>

<button class="btn btn-wipf-default" (click)="start()">Start</button>
<button class="btn btn-wipf-default" *ngIf="bLoopStop" (click)="startAutoload()">Starte Autoladen</button>
<button class="btn btn-wipf-default" *ngIf="!bLoopStop" (click)="bLoopStop=true">Stoppe Autoladen</button>
<button class="btn btn-wipf-default" (click)="cls()">CLS</button>


<input type="file" (change)="fileChangeHandler($event)">
<ng-container *ngIf="imageoutput?.base64">
    <mat-slider thumbLabel [(ngModel)]="nKontrast" (ngModelChange)="convertImgToArray()" min="1" max="256" step="1" aria-label="units"></mat-slider>
    <input matInput type="number" max="256" min="0" [(ngModel)]="nKontrast" (ngModelChange)="convertImgToArray()">
</ng-container>
<button class="btn btn-wipf-default" (click)="saveFull()">Bild Speichern</button>
