<div class="dialogbox">
    <!-- // TODO: LESS DATEI -->
    <h1 mat-dialog-title>Id: {{data.id}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Titel</mat-label>
            <input matInput [(ngModel)]="data.titel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Art</mat-label>
            <input matInput [(ngModel)]="data.art">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Infotext</mat-label>
            <input matInput [(ngModel)]="data.infotext">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Bewertung</mat-label>
            <input matInput [(ngModel)]="data.bewertung">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Gesehen</mat-label>
            <input matInput [(ngModel)]="data.gesehenDate">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Typ</mat-label>
            <input matInput [(ngModel)]="data.typ">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
        <button class="btn btn-wipf-dialog" [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
    </div>
</div>