<h1>Login</h1>

@if (rest.getLoginOk()=='false') {
  Anmelden:
  <input type="text" class="form-control" [(ngModel)]="sUsername" placeholder="Username">
  <input type="password" class="form-control" [(ngModel)]="sPasswort" placeholder="Passwort" (keyup.enter)="login()">
  <button class="btn btn-wipf-default" (click)="login()">Ok</button>
}

@if (rest.getLoginOk()=='true') {
  <div class="infobox">
    Anmeldung Ok
  </div>
  <button class="btn btn-wipf-default" (click)="logoff()">Abmelden</button>
}

@if (rest.getLoginOk()=='may') {
  <div class="infobox">
    Anmeldung noch vorhanden - {{lastVisitToNow}}
  </div>
  <button class="btn btn-wipf-default" (click)="logoff()">Abmelden</button>
}

<app-dynButton></app-dynButton>