<mat-drawer-container class="fullsize" [hasBackdrop]="hasBackdrop.value">

    <mat-drawer #drawer [mode]="mode.value">
        <perfect-scrollbar class="pscroll">

            <div class="sidebar">
                <div *ngIf="bWipfActive" class="titlemenue">Wipf</div>
                <ul *ngIf="bWipfActive" class="menueli">
                    <li (click)="selectSite('todolist')" [ngClass]="{'isSelected' : selectedSite == 'todolist'}">
                        <mat-icon svgIcon="check_all" aria-hidden="false" title="Todo Liste"></mat-icon>
                        Todo List
                    </li>
                    <li (click)="selectSite('daylog')" [ngClass]="{'isSelected' : selectedSite == 'daylog'}">
                        <mat-icon svgIcon="document" aria-hidden="false" title="TagesLog"></mat-icon>
                        TagesLog
                    </li>
                    <li (click)="selectSite('filme')" [ngClass]="{'isSelected' : selectedSite == 'filme'}">
                        <mat-icon svgIcon="check_all" aria-hidden="false" title="Filme"></mat-icon>
                        Filme
                    </li>
                    <li (click)="selectSite('rndEvent')" [ngClass]="{'isSelected' : selectedSite == 'rndEvent'}">
                        <mat-icon svgIcon="check_all" aria-hidden="false" title="RndEvent"></mat-icon>
                        RndEvent
                    </li>
                    <li *ngIf="bDevActive" (click)="selectSite('crypt')" [ngClass]="{'isSelected' : selectedSite == 'crypt'}">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Debug"></mat-icon>
                        Crypt
                    </li>
                    <li (click)="selectSite('wipfuservw')" [ngClass]="{'isSelected' : selectedSite == 'wipfuservw'}">
                        <mat-icon svgIcon="user" aria-hidden="false" title="Wipf User"></mat-icon>
                        Wipf User
                    </li>
                    <li (click)="selectSite('filevw')" [ngClass]="{'isSelected' : selectedSite == 'filevw'}">
                        <mat-icon svgIcon="picture" aria-hidden="false" title="File VW"></mat-icon>
                        Dateien
                    </li>
                </ul>

                <div *ngIf="bJasmartyActive" class="titlemenue">LCD</div>
                <ul *ngIf="bJasmartyActive" class="menueli">
                    <li *ngIf="jasmartyType==='LCD_2004'" (click)="selectSite('lcdmain')" [ngClass]="{'isSelected' : selectedSite == 'lcdmain'}">
                        <mat-icon svgIcon="box" aria-hidden="false" title="Startseite"></mat-icon>
                        2004 Startseite
                    </li>
                    <li *ngIf="jasmartyType==='LCD_2004'" (click)="selectSite('liveFull')" [ngClass]="{'isSelected' : selectedSite == 'liveFull'}">
                        <mat-icon svgIcon="box" aria-hidden="false" title="Startseite"></mat-icon>
                        2004 Live
                    </li>
                    <li *ngIf="jasmartyType==='LCD_2004'" (click)="selectSite('pages')" [ngClass]="{'isSelected' : selectedSite == 'pages'}">
                        <mat-icon svgIcon="edit" aria-hidden="false" title="Seiten"></mat-icon>
                        2004 Seiten
                    </li>
                    <li *ngIf="bDevActive && jasmartyType==='LCD_12864'" (click)="selectSite('12864panel')" [ngClass]="{'isSelected' : selectedSite == '12864panel'}">
                        <mat-icon svgIcon="box" aria-hidden="false" title="Startseite"></mat-icon>
                        12864 Panel
                    </li>
                    <li *ngIf="jasmartyType==='LCD_12864'" (click)="selectSite('12864pages')" [ngClass]="{'isSelected' : selectedSite == '12864pages'}">
                        <mat-icon svgIcon="edit" aria-hidden="false" title="Seiten"></mat-icon>
                        12864 Seiten
                    </li>
                    <li *ngIf="bDevActive" (click)="selectSite('charGenerator')" [ngClass]="{'isSelected' : selectedSite == 'charGenerator'}">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Dev"></mat-icon>
                        Char Generator
                    </li>
                    <li (click)="selectSite('actions')" [ngClass]="{'isSelected' : selectedSite == 'actions'}">
                        <mat-icon svgIcon="services" aria-hidden="false" title="Funktionen"></mat-icon>
                        Funktionen
                    </li>
                    <li (click)="selectSite('config')" [ngClass]="{'isSelected' : selectedSite == 'config'}">
                        <mat-icon svgIcon="settings" aria-hidden="false" title="Einstellungen"></mat-icon>
                        Einstellungen
                    </li>
                </ul>

                <div *ngIf="bTelegramActive" class="titlemenue">Telegram</div>
                <ul *ngIf="bTelegramActive" class="menueli">
                    <li (click)="selectSite('tmsg')" [ngClass]="{'isSelected' : selectedSite == 'tmsg'}">
                        <mat-icon svgIcon="edit" aria-hidden="false" title="Logs"></mat-icon>
                        Nachrichten
                    </li>
                    <li (click)="selectSite('tlog')" [ngClass]="{'isSelected' : selectedSite == 'tlog'}">
                        <mat-icon svgIcon="search" aria-hidden="false" title="Logs"></mat-icon>
                        Logs
                    </li>
                    <li (click)="selectSite('chat')" [ngClass]="{'isSelected' : selectedSite == 'chat'}">
                        <mat-icon svgIcon="puzzle" aria-hidden="false" title="Logs"></mat-icon>
                        Test Chat
                    </li>
                    <li (click)="selectSite('configtele')" [ngClass]="{'isSelected' : selectedSite == 'configtele'}">
                        <mat-icon svgIcon="settings" aria-hidden="false" title="Einstellungen"></mat-icon>
                        Einstellungen
                    </li>
                </ul>

                <div *ngIf="bDevActive" class="titlemenue">DynPage</div>
                <ul *ngIf="bDevActive" class="menueli">
                    <li (click)="selectSite('dynpages')" [ngClass]="{'isSelected' : selectedSite == 'dynpages'}">
                        <mat-icon svgIcon="edit" aria-hidden="false" title="Verwaltung"></mat-icon>
                        Dynpages VW
                    </li>
                    <li (click)="selectSite('dynpageShow')" [ngClass]="{'isSelected' : selectedSite == 'dynpageShow'}">
                        <mat-icon svgIcon="document" aria-hidden="false" title="Zeigen"></mat-icon>
                        Zeige Dynpage
                    </li>
                </ul>

                <div class="titlemenue">Anzeig<span (click)="showDevModules()">e</span>
                </div>
                <ul class="menueli">
                    <li (click)="getActiveModules()">
                        <mat-icon svgIcon="restart" aria-hidden="false" title="Menü neu Laden"></mat-icon>
                        Neu laden
                    </li>
                    <!-- <li *ngIf="!bDevActive" (click)="showDevModules()">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Dev"></mat-icon>
                        Zeige Dev
                    </li> -->
                    <li *ngIf="bDevActive" (click)="showAll2004()">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Dev"></mat-icon>
                        Zeige Alles 2004
                    </li>
                    <li *ngIf="bDevActive" (click)="showAll12864()">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Dev"></mat-icon>
                        Zeige Alles 12864
                    </li>
                    <li *ngIf="bDevActive" (click)="showDevModules()">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Dev"></mat-icon>
                        Verstecke Dev
                    </li>
                    <li *ngIf="bDevActive" (click)="selectSite('debug')" [ngClass]="{'isSelected' : selectedSite == 'debug'}">
                        <mat-icon svgIcon="support" aria-hidden="false" title="Debug"></mat-icon>
                        Debug
                    </li>
                    <li (click)="selectSite('settings')" [ngClass]="{'isSelected' : selectedSite == 'settings'}">
                        <mat-icon svgIcon="settings" aria-hidden="false" title="Roheinstellungen"></mat-icon>
                        Einstellungen
                    </li>
                </ul>
            </div>
        </perfect-scrollbar>
    </mat-drawer>

    <mat-drawer-content>
        <div class="hide">
            <mat-form-field>
                <mat-select #mode value="push"></mat-select>
                <mat-select #hasBackdrop value="true"></mat-select>
            </mat-form-field>
        </div>
        <div class="fullsite">
            <button class="mainMenueIcon" (click)="drawer.toggle()">
                <mat-icon svgIcon="home" aria-hidden="false" title="Menü"></mat-icon>
            </button>
            <!-- <button class="mainMenueButton" (click)="drawer.toggle()">
                Menü Öffnen
            </button> -->

            <div class="maincontainer">
                <perfect-scrollbar class="pscroll">
                    <ng-container *ngIf="selectedSite==='pages'">
                        <app-jasmartyPages></app-jasmartyPages>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='liveFull'">
                        <app-jasmartyFullView></app-jasmartyFullView>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='actions'">
                        <app-jasmartyActions></app-jasmartyActions>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='config'">
                        <app-jasmartyConfig></app-jasmartyConfig>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='lcdmain'">
                        <app-jasmartyMain></app-jasmartyMain>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='configtele'">
                        <app-telegram-config></app-telegram-config>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='todolist'">
                        <app-todolist></app-todolist>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='filme'">
                        <app-filme></app-filme>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='crypt'">
                        <app-crypt></app-crypt>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='chat'">
                        <app-telegram-chat></app-telegram-chat>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='tlog'">
                        <app-telegram-log></app-telegram-log>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='tmsg'">
                        <app-telegramMsg></app-telegramMsg>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='wipfuservw'">
                        <app-wipfuservw></app-wipfuservw>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='12864panel'">
                        <app-jasmarty12864panel></app-jasmarty12864panel>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='12864pages'">
                        <app-jasmarty12864pages></app-jasmarty12864pages>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='charGenerator'">
                        <app-charGenerator></app-charGenerator>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='debug'">
                        <app-debugSeite></app-debugSeite>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='daylog'">
                        <app-daylog></app-daylog>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='dynpages'">
                        <app-dynpages></app-dynpages>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='dynpageShow'">
                        <app-dynpageShow></app-dynpageShow>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='filevw'">
                        <app-file-vw></app-file-vw>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='settings'">
                        <app-settings></app-settings>
                    </ng-container>
                    <ng-container *ngIf="selectedSite==='rndEvent'">
                        <app-rndEvent></app-rndEvent>
                    </ng-container>
                </perfect-scrollbar>
            </div>
        </div>
        <app-footer class="myfooter"></app-footer>
    </mat-drawer-content>

</mat-drawer-container>