<mat-drawer-container class="fullsize" [hasBackdrop]="hasBackdrop.value">



    <mat-drawer #drawer [mode]="mode.value">
        <perfect-scrollbar class="pscroll">

            <div class="sidebar">
                <div class="titlemenue">Hauptfunktionen</div>
                <ul class="menueli">
                    <li (click)="selectSite('todolist')">Todo List</li>
                    <li (click)="selectSite('daylog')">TagesLog</li>
                    <li (click)="selectSite('filme')">Filme</li>
                    <li *ngIf="bDevActive" (click)="selectSite('crypt')">Crypt</li>
                    <li (click)="selectSite('wipfuservw')">Wipf User</li>
                    <li *ngIf="bDevActive" (click)="selectSite('debug')">Debug</li>
                </ul>

                <div class="titlemenue">LCD</div>
                <ul class="menueli">
                    <li *ngIf="bJasmartyActive && jasmartyType==='LCD_2004'" (click)="selectSite('main')">2004 Startseite</li>
                    <li *ngIf="bJasmartyActive && jasmartyType==='LCD_2004'" (click)="selectSite('liveFull')">2004 Live Display</li>
                    <li *ngIf="bJasmartyActive && jasmartyType==='LCD_2004'" (click)="selectSite('pages')">2004 Seiten</li>
                    <li *ngIf="bJasmartyActive && jasmartyType==='LCD_12864'" (click)="selectSite('12864panel')">12864 Panel</li>
                    <li *ngIf="bJasmartyActive && jasmartyType==='LCD_12864'" (click)="selectSite('12864pages')">12864 Seiten</li>
                    <li *ngIf="bDevActive" (click)="selectSite('charGenerator')">Char Generator</li>
                    <li *ngIf="bJasmartyActive" (click)="selectSite('actions')">Funktionen</li>
                    <li (click)="selectSite('config')">Einstellungen</li>
                </ul>

                <div class="titlemenue">Telegram</div>
                <ul class="menueli">
                    <li *ngIf="bTelegramActive" (click)="selectSite('chat')">Test Chat</li>
                    <li (click)="selectSite('configtele')">Einstellungen</li>
                    <li *ngIf="bTelegramActive" (click)="selectSite('tmsg')">Nachrichten</li>
                    <li *ngIf="bTelegramActive" (click)="selectSite('tlog')">Logs</li>
                </ul>

                <div *ngIf="bDevActive" class="titlemenue">DynPage</div>
                <ul class="menueli">
                    <li *ngIf="bDevActive" (click)="selectSite('dynpages')">Dynpages</li>
                    <li *ngIf="bDevActive" (click)="selectSite('dynpageShow')">Zeige Dynpage</li>
                </ul>

                <div class="titlemenue">Dev</div>
                <ul class="menueli">
                    <li (click)="getActiveModules()">Menü Laden</li>
                    <li *ngIf="!bDevActive" (click)="showDevModules()">Zeige Dev</li>
                    <li *ngIf="bDevActive" (click)="showDevModules()">Verstecke Dev</li>
                </ul>
            </div>
        </perfect-scrollbar>
    </mat-drawer>

    <mat-drawer-content>
        <div class="hide">
            <mat-form-field>
                <mat-select #mode value="push"></mat-select>
                <mat-select #hasBackdrop value="true"></mat-select>
            </mat-form-field>
        </div>
        <div class="fullsite">
            <button class="mainMenueButton" (click)="drawer.toggle()">Menü Öffnen</button>
            <div class="maincontainer">
                <ng-container *ngIf="selectedSite==='pages'">
                    <app-jasmartyPages></app-jasmartyPages>
                </ng-container>
                <ng-container *ngIf="selectedSite==='liveFull'">
                    <app-jasmartyFullView></app-jasmartyFullView>
                </ng-container>
                <ng-container *ngIf="selectedSite==='actions'">
                    <app-jasmartyActions></app-jasmartyActions>
                </ng-container>
                <ng-container *ngIf="selectedSite==='config'">
                    <app-jasmartyConfig></app-jasmartyConfig>
                </ng-container>
                <ng-container *ngIf="selectedSite==='main'">
                    <app-jasmartyMain></app-jasmartyMain>
                </ng-container>
                <ng-container *ngIf="selectedSite==='configtele'">
                    <app-telegram-config></app-telegram-config>
                </ng-container>
                <ng-container *ngIf="selectedSite==='todolist'">
                    <app-todolist></app-todolist>
                </ng-container>
                <ng-container *ngIf="selectedSite==='filme'">
                    <app-filme></app-filme>
                </ng-container>
                <ng-container *ngIf="selectedSite==='crypt'">
                    <app-crypt></app-crypt>
                </ng-container>
                <ng-container *ngIf="selectedSite==='chat'">
                    <app-telegram-chat></app-telegram-chat>
                </ng-container>
                <ng-container *ngIf="selectedSite==='tlog'">
                    <app-telegram-log></app-telegram-log>
                </ng-container>
                <ng-container *ngIf="selectedSite==='tmsg'">
                    <app-telegramMsg></app-telegramMsg>
                </ng-container>
                <ng-container *ngIf="selectedSite==='wipfuservw'">
                    <app-wipfuservw></app-wipfuservw>
                </ng-container>
                <ng-container *ngIf="selectedSite==='12864panel'">
                    <app-jasmarty12864panel></app-jasmarty12864panel>
                </ng-container>
                <ng-container *ngIf="selectedSite==='12864pages'">
                    <app-jasmarty12864pages></app-jasmarty12864pages>
                </ng-container>
                <ng-container *ngIf="selectedSite==='charGenerator'">
                    <app-charGenerator></app-charGenerator>
                </ng-container>
                <ng-container *ngIf="selectedSite==='debug'">
                    <app-debugSeite></app-debugSeite>
                </ng-container>
                <ng-container *ngIf="selectedSite==='daylog'">
                    <app-daylog></app-daylog>
                </ng-container>
                <ng-container *ngIf="selectedSite==='dynpages'">
                    <app-dynpages></app-dynpages>
                </ng-container>
                <ng-container *ngIf="selectedSite==='dynpageShow'">
                    <app-dynpageShow></app-dynpageShow>
                </ng-container>
            </div>
        </div>
        <app-footer class="myfooter"></app-footer>
    </mat-drawer-content>

</mat-drawer-container>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>