<ng-sidebar-container style="height: 100vh;">
    <ng-sidebar [(opened)]="opened" position="left">
        <div class="sidebar">
            <ul class="menueli">
                <li (click)="selectSite('pages')">Seiten</li>
                <li (click)="selectSite('actions')">Actions</li>
                <li (click)="selectSite('config')">Config</li>
                <button (click)="toggleSidebar()">Schließen</button>
            </ul>
        </div>
    </ng-sidebar>

    <!-- Haupt Page content -->
    <div ng-sidebar-content class="fullsite">

        <button class="mainMenueButton" (click)="toggleSidebar()">Menü Öffnen</button>
        <div class="maincontainer">
            <ng-container *ngIf="selectedSite==='pages'">
                <app-jasmartyPages></app-jasmartyPages>
            </ng-container>
            <ng-container *ngIf="selectedSite==='actions'">
                <app-jasmartyActions></app-jasmartyActions>
            </ng-container>
            <ng-container *ngIf="selectedSite==='config'">
                <app-jasmartyConfig></app-jasmartyConfig>
            </ng-container>
        </div>

        <app-footer class="myfooter"></app-footer>
    </div>
</ng-sidebar-container>