.cont {
  height: 400px;
  width: 500px;
}

.title {
  font-weight: 700;
}

.gridRow {
  display: flex;
  margin: 0 -15px;
}

.gridRow_ohne_rand {
  display: flex;
}

.gridCol {
  padding: 0 3px;
  flex: 1 0 250px;
  width: 25%;
}

.list {
  padding-right: 10px;
}

table {
  width: 100%;
  height: 70%;
}

th.mat-sort-header-sorted {
  color: black;
}

.pscroll {
  height: 70vh;
}

.pscrollTabellen {
  height: 72vh;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(231, 231, 231);
}

.day-row-is-clicked {
  font-weight: bold;
  background-color: rgb(179, 179, 179);
}

.mat-column-date {
  // width: 32px;
  text-align: center;
  font-weight: bold;
  //border-right: transparent 10px solid;
}

.vorschlagButton {
  color: rgb(0, 0, 0);
  background-color: #fff77c;
  border-color: #7e7e7e;
  border-radius: 18px;
  margin: 2px;
}
