.cont {
  height: 400px;
  width: 500px;
}

.title {
  font-weight: 700;
}

.gridRow {
  display: flex;
  margin: 0 -15px;
}

.gridRow_ohne_rand {
  display: flex;
}

.tabelleR {
  flex: 1 0 230px;
  width: 25%;
  border-right: solid 1px transparent;
}

.tabelleL {
  flex: 1 0 250px;
  width: 25%;
  border-left: solid 1px transparent;
}

.mat-row:hover {
  //opacity: 0.5;
  background-color: #b3b3b3;
}

.pscroll {
  height: 70vh;
}

.pscrollTabellen {
  height: 72vh;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.day-row-is-clicked {
  font-weight: bold !important;
  background-color: rgba(123, 123, 123, 0) !important;
}

.mat-column-date {
  text-align: center;
  font-weight: bold;
}

.heuteTag {
  //text-shadow: 2px 2px gray;
  color: red;
}

.vorschlagButton {
  color: rgb(0, 0, 0);
  background-color: #f8f08c;
  border-color: #7e7e7e;
  border-radius: 18px;
  margin: 2px;

  &:hover {
    background-color: #ffd500;
  }
}

.vorschlagtMatch {
  background-color: #f8c48c;
  font-weight: bold;
}

.vorschlagList {
  display: inline;
}

.vorschlagContainer {
  //max-width: 300px;
  background-color: #f4f4f4;
  font-size: 12px;
}

.lightgray {
  background-color: lightgray;
  border-radius: 7px;
}

.nodatarow {
  padding: 10px;
}

.typestyle {
  border-radius: 7px;
  padding: 3px;
}

.monYYYYSchalter {
  width: 115px;
}

.monyyyButton {
  padding: 0;
}
