<h1 mat-dialog-title>Id: {{data.id}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Datum</mat-label>
        <input matInput type="date" [(ngModel)]="data.date">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Tagestext</mat-label>
        <input matInput [(ngModel)]="data.tagestext">
    </mat-form-field>
    <br>

    <!-- <mat-label>Status</mat-label> -->
    <!-- <input matInput [(ngModel)]="data.active"> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>

<div *ngIf="data?.tagestext?.length === 0">
    <!-- TODO: ausbauen, laden von DB -->
    <button class="btn btn-wipf-mini" (click)="setText('A HO')">H</button>
    <button class="btn btn-wipf-mini" (click)="setText('A NM')">A</button>
</div>