<div>
    <h3>Daylog</h3>

    <div class="list">
        <ng-container *ngIf="bShowWarning">
            Es ist ein Fehler aufgetreten!
            <input type="checkbox" [(ngModel)]="bShowWarning" />
        </ng-container>

        <div class="configline">
            <div class="box">
                Zeige alle Splaten:
                <input type="checkbox" (ngModelChange)="showAllTable()" [(ngModel)]="bShowAllTable">
            </div>
            <div class="box">
                <button class="btn btn-default" (click)="openDialogTypeVW()">Typenverwaltung öffnen</button>
            </div>
            <!-- <div class="box">
                <button class="btn btn-default" (click)="load()">Neu laden</button>
            </div> -->
            <div class="box">
                Filter Tag: <input (ngModelChange)="applyFilter()" [(ngModel)]="sFilterDay" />
            </div>
            <div class="box">
                Filter Event: <input (ngModelChange)="applyFilter()" [(ngModel)]="sFilterTextEvent" />
            </div>
            <div class="box">
                <mat-form-field appearance="fill">
                    <mat-label>Event Filtern</mat-label>
                    <mat-select [(value)]="selectedEventTypeFilter">
                        <mat-option [value]="undefined">Kein Filter</mat-option>
                        <mat-option *ngFor="let itemEvent of typelistForEventFilter" [value]="itemEvent">{{itemEvent.type}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="box">
                <button class="btn btn-default" (click)="loadAllEventsViaVar()">Alle Events Laden</button>
            </div>
        </div>

        <div class="gridRow_ohne_rand">
            <div class="gridCol">
                <perfect-scrollbar class="pscroll">
                    <table mat-table [dataSource]="daylistDataSource" matSort matSortActive="date" matSortDirection="desc" class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
                            <!-- <td mat-cell *matCellDef="let element">{{element.date * 1000 | date: 'dd.MM.yyyy'}}</td> -->
                            <td mat-cell *matCellDef="let element">{{element.date}}</td>
                        </ng-container>

                        <ng-container matColumnDef="day">
                            <th mat-header-cell *matHeaderCellDef>Tag</th>
                            <!-- <td mat-cell *matCellDef="let element">{{element.date * 1000 | date: 'dd.MM.yyyy'}}</td> -->
                            <td mat-cell *matCellDef="let element">{{element.extrafeld_wochentag}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tagestext">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Tagestext
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.tagestext }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="userid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Userid</th>
                            <td mat-cell *matCellDef="let element">{{ element.userid }}</td>
                        </ng-container>

                        <ng-container matColumnDef="button">
                            <th th mat-header-cell *matHeaderCellDef>
                                <button class="btn btn-default" (click)="newDay()">
                                    <mat-icon svgIcon="document" aria-hidden="false" title="Neuen Tag erstellen"></mat-icon>
                                </button>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-default" (click)="editDay(element)">
                                    <mat-icon svgIcon="edit" aria-hidden="false" title="Bearbeiten"></mat-icon>
                                </button>
                                <!-- <button class="btn btn-default" (click)="loadEventsByDay(element)">
                                    <mat-icon svgIcon="extern_link" aria-hidden="false" title="Tag anzeigen"></mat-icon>
                                </button> -->
                                <!-- <button class="btn btn-default" (click)="newEvent(element)">
                                    Event erstellen
                                </button> -->
                                <button class="btn btn-default" (click)="deleteDay(element)">
                                    <mat-icon svgIcon="trash" aria-hidden="false" title="Löschen"></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="daylistDisplayedColumns"></tr>
                        <tr mat-row (click)="loadEventsByDaySetVar(row)" [class.day-row-is-clicked]="dateForLoad == (row)" *matRowDef="let row; columns: daylistDisplayedColumns"></tr>
                    </table>
                </perfect-scrollbar>
            </div>
            <div class="gridCol">
                <perfect-scrollbar class="pscroll">
                    <app-daylog-eventlist [(filterEventType)]="selectedEventTypeFilter" [filterTextEvent]="sFilterTextEvent" [showAllTable]="bShowAllTable" [dateForLoad]="dateForLoad" [daylogTypes]="daylogTypes"></app-daylog-eventlist>
                </perfect-scrollbar>
            </div>

        </div>
        Anzahl Tage: {{ daylist.length }} <br>
    </div>
</div>