<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- TODO: LESS DATEI -->
        <h1 mat-dialog-title>Id: {{data.id}} / TypId: {{data.typ}}</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Typ</mat-label>
                <mat-select [(value)]="data.typ">
                    <!-- <mat-option value='-1'>None</mat-option> -->
                    <ng-container *ngFor="let type of daylogTypes">
                        <mat-option value='{{type.id}}'>{{type.type}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <ng-container *ngFor="let type of daylogTypes">
                <ng-container *ngIf="data.typ.toString()==type.id">
                    <ng-container *ngIf="type.art==='TEXT'">
                        <mat-form-field>
                            <mat-label>Text</mat-label>
                            <input (ngModelChange)="getTextVorschlag()" matInput [(ngModel)]="data.text">
                        </mat-form-field>
                        <br>
                        Vorschläge({{sListVorschlag.length}}):

                        <div class="displayInline" *ngFor="let sItem of sListVorschlag; let x = index">
                            <button class="vorschlagButton" (click)="vorschlagToData(sItem)"> {{sItem}}</button>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="type.art==='NUMBER'">
                        <mat-form-field>
                            <mat-label>Nummer</mat-label>
                            <input matInput type="number" [(ngModel)]="data.text">
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="type.art==='BOOL'">
                        <br>Ja/Nein<br>
                        <input type="checkbox" [(ngModel)]="data.text" />
                    </ng-container>
                </ng-container>
            </ng-container>
            <br>
        </div>

        <div mat-dialog-actions>
            <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
            <button class="btn btn-wipf-dialog" [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>