<h1 mat-dialog-title>Id: {{data.id}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Event Text</mat-label>
        <textarea [(ngModel)]="data.eventtext" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
    <br>
    <mat-checkbox class="example-margin" [(ngModel)]="data.active">
        Aktiv
    </mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>