<div>
    <h3>RndEvent Liste</h3>
    <div class="list">

        <ng-container *ngIf="bShowWarning">
            Es ist ein Fehler aufgetreten!
            <input type="checkbox" [(ngModel)]="bShowWarning">
        </ng-container>

        <div class="configline">
            <div class="box">
                Filter: <input (ngModelChange)="applyFilter()" [(ngModel)]="sFilter">
            </div>
            <div class="box">
                <button class="btn btn-wipf-default" (click)="newItem()">Neuen Eintrag erstellen</button>
            </div>
        </div>

        <perfect-scrollbar class="pscroll">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="eventtext">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Text </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="content">{{element.eventtext}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktiv </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-icon *ngIf="!element.active" svgIcon="round" aria-hidden="false" title="Nein"></mat-icon>
                        <mat-icon *ngIf="element.active" svgIcon="ok" aria-hidden="false" title="Ja"></mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="button">
                    <!-- <th mat-header-cell *matHeaderCellDef><button class="btn btn-wipf-default" (click)="newItem()">Neu</button></th> -->
                    <th th mat-header-cell *matHeaderCellDef>Verwalten</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-wipf-default btn-for-icon" (click)="openDialog(element)">
                            <mat-icon svgIcon="edit" aria-hidden="false" title="Bearbeiten"></mat-icon>
                        </button>
                        <button class="btn btn-wipf-default btn-for-icon" (click)="deleteItem(element)">
                            <mat-icon svgIcon="trash" aria-hidden="false" title="Löschen"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </perfect-scrollbar>
        Treffer: {{rndarry.length}}
    </div>
</div>