<h1 mat-dialog-title>ID: {{data.id}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="data.username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput [(ngModel)]="data.password">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select [(value)]="data.role">
            <mat-option value="admin">admin</mat-option>
            <mat-option value="user">user</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rolle-Plain</mat-label>
        <input matInput [(ngModel)]="data.role">
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>