<table>
    <tr *ngFor="let xA of mtttData; let x = index">
        <td 
        *ngFor="let yA of xA; let y = index" 
        title="{{x}}/{{y}}" 
        [ngStyle]="{'background-color': 'rgba('+(mtttData[x][y].farbe_R)+','+(mtttData[x][y].farbe_G)+','+(mtttData[x][y].farbe_B)+')'}" 
        class="led-box" 
        (click)="doClick(x,y)"
        >
            <div>
                {{mtttData[x][y].funktion}}
            </div>
        </td>
    </tr>
</table>

<button class="btn btn-wipf-default" (click)="startMttt()">Starte Mttt</button>
<button class="btn btn-wipf-default" (click)="stopApp()">Stop App</button>
<button class="btn btn-wipf-default" (click)="getCache()">Laden</button>
<button class="btn btn-wipf-default" (click)="cls()">CLS</button>