.mat-mdc-dialog-container {
  padding: 0 !important;
}

.mdc-dialog__content {
  margin: 0px !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mat-mdc-dialog-actions {
  background-color: gray;
  padding: 8px !important;
  margin-bottom: 0px !important;
}

.mdc-dialog__title {
  background-color: gray;
  padding: 8px !important;
  margin: 0px !important;
}

mat-dialog-content {
  white-space: pre-line;
  background-color: lightgray !important;
}