.mat-mdc-option {
    min-height: 36px !important;
}

.mdc-text-field--filled {
    background-color: rgba(0, 0, 0, 0.160) !important;
}

.mat-mdc-form-field-infix,
.mat-mdc-select,
.mdc-list-item__primary-text,
.mdc-floating-label {
    font-size: 13px !important;
}

.mat-mdc-form-field {
    width: 100% !important;
}