<h3>Einstellungen</h3>
<hr>
<div class="settings">
    <div class="gridRow">
        <div class="gridCol">
            <h4>Grundeinstellungen</h4>
            <perfect-scrollbar style="max-width: 500px; max-height: 400px;">
                <div class="form-group">
                    <!-- TODO: form-group? -->
                    <ng-container *ngIf="jaconfig">

                        <span class="title">Port</span>
                        <input type="text" class="form-control inbutton" [(ngModel)]="jaconfig.port" placeholder="Bitte eintragen">

                        <span class="title">Baud Rate</span>
                        <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.baudrate" placeholder="Bitte eintragen">

                        <span class="title">Refesh Rate</span>
                        <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.refreshrate" placeholder="Bitte eintragen">

                        <span class="title">Breite</span>
                        <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.width" placeholder="Bitte eintragen">

                        <span class="title">Höhe</span>
                        <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.height" placeholder="Bitte eintragen">

                    </ng-container>
                </div>
            </perfect-scrollbar>
            <button type="button" class="btn btn-primary inbutton" (click)="save() ">Save</button>
        </div>
        <div class="gridCol">
            <h4>Verfügbare Ports</h4>
            <div *ngFor="let p of ports;">
                <code>{{p.name}}</code>
            </div>

        </div>
        <div class="gridCol">
            <h4>Hauptfunktionen</h4>
            <perfect-scrollbar style="max-width: 500px; max-height: 400px;">
                <button type="button" class="btn btn-primary inbutton" (click)="start() ">Starte Verbindung</button>
                <button type="button" class="btn btn-primary inbutton" (click)="stop() ">Stoppe Verbindung</button>
                <hr>
                <button type="button" class="btn btn-primary inbutton" (click)="refreshOn() ">Refesh An</button>
                <button type="button" class="btn btn-primary inbutton" (click)="refreshOff() ">Refesh Aus</button>
                <hr>
                <button type="button" class="btn btn-danger inbutton" (click)="stopApp() ">JaSmarty Beenden</button>
            </perfect-scrollbar>
        </div>
    </div>

</div>