<h3>Telegram</h3>
<hr>

<div class="form-group">
    <ng-container *ngIf="jaconfig">
        <div>
            <label for="formGroupExampleInput2">Port</label>
            <input type="text" class="form-control inbutton" [(ngModel)]="jaconfig.port" placeholder="Bitte eintragen">
        </div>

        <div>
            <label for="formGroupExampleInput2">Baud Rate</label>
            <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.baudrate" placeholder="Bitte eintragen">
        </div>

        <div>
            <label for="formGroupExampleInput2">Refesh Rate</label>
            <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.refreshrate" placeholder="Bitte eintragen">
        </div>

        <div>
            <label for="formGroupExampleInput2">Breite</label>
            <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.width" placeholder="Bitte eintragen">
        </div>

        <div>
            <label for="formGroupExampleInput2">Höhe</label>
            <input type="number" class="form-control inbutton" [(ngModel)]="jaconfig.hight" placeholder="Bitte eintragen">
        </div>
    </ng-container>

    <button type="button" class="btn btn-primary inbutton" (click)="save()">Save</button>
</div>