<h3>Logdatei</h3>

<div class="configline">
    <div class="iconbox">
        Zeige Alles:
        <button class="btn btn-wipf-default btn-for-icon" *ngIf="bShowAllTableColumns" (click)="showAllTableColumns()">
            <mat-icon svgIcon="ok" aria-hidden="false" title="neu Laden"></mat-icon>
        </button>
        <button class="btn btn-wipf-default btn-for-icon" *ngIf="!bShowAllTableColumns" (click)="showAllTableColumns()">
            <mat-icon svgIcon="round" aria-hidden="false" title="neu Laden"></mat-icon>
        </button>
    </div>

    <div class="iconbox">
        Neu Laden:
        <button class="btn btn-wipf-default btn-for-icon" (click)="loadAll()">
            <mat-icon svgIcon="restart" aria-hidden="false" title="Laden"></mat-icon>
        </button>

        <br>
        Clean Log:
        <button class="btn btn-wipf-default btn-for-icon" (click)="openCleanLogDialog()">
            <mat-icon svgIcon="trash" aria-hidden="false" title="Clean"></mat-icon>
        </button>
    </div>

    <div class="box">
        <mat-form-field>
            <mat-label>Filtern</mat-label>
            <input matInput (ngModelChange)="applyFilter()" [(ngModel)]="sFilter">
        </mat-form-field>
    </div>
</div>

<ng-scrollbar class="pscroll" track="all">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="mid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MsgId </th>
            <td mat-cell *matCellDef="let element"> {{element.msgid}} </td>
        </ng-container>

        <ng-container matColumnDef="chatid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ChatId </th>
            <td mat-cell *matCellDef="let element"> {{element.chatid}} </td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Von </th>
            <td mat-cell *matCellDef="let element"> {{element.msgfrom}} </td>
        </ng-container>

        <ng-container matColumnDef="frage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Frage </th>
            <td mat-cell *matCellDef="let element">
                <strong>
                    {{element.frage}}
                </strong>
            </td>
        </ng-container>

        <ng-container matColumnDef="antwort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Antwort </th>
            <td mat-cell *matCellDef="let element"> {{element.antwort}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tableDate"> Datum </th>
            <td mat-cell *matCellDef="let element"> {{element.date * 1000 | date: 'dd.MM.yyyy HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <div class="tableVW">
                    ∑: {{dataSource?._data?._value?.length}}
                </div>
            </th>

            <td mat-cell *matCellDef="let element">
                <button class="btn btn-wipf-default btn-for-icon" (click)="openItemInfoBox(element)">
                    <mat-icon svgIcon="info" aria-hidden="false" title="Info"></mat-icon>
                </button>
                <button class="btn btn-wipf-default btn-for-icon" (click)="openDelItemDialog(element)">
                    <mat-icon svgIcon="trash" aria-hidden="false" title="Löschen"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-scrollbar>