<div>
    <h3>Logdatei</h3>
    <div class="loglist">

        <div class="configline">
            <div class="box">
                <button class="btn btn-wipf-default" (click)="loadAll()">Alles laden</button>
            </div>
            <div class="box">
                <button class="btn btn-wipf-default" (click)="loadExt()">Externes laden</button>
            </div>
            <div class="box">
                <button class="btn btn-wipf-default" (click)="openCleanLogDialog()">Clean Log</button>
            </div>
            <div class="box">
                Filter: <input (ngModelChange)="applyFilter()" [(ngModel)]="sFilter">
            </div>
        </div>

        <ng-scrollbar class="pscroll">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="mid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> mId </th>
                    <td mat-cell *matCellDef="let element"> {{element.mid}} </td>
                </ng-container>

                <ng-container matColumnDef="chatid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ChatId </th>
                    <td mat-cell *matCellDef="let element"> {{element.chatid}} </td>
                </ng-container>

                <ng-container matColumnDef="from">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Von </th>
                    <td mat-cell *matCellDef="let element"> {{element.from}} </td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frage </th>
                    <td mat-cell *matCellDef="let element">
                        <strong>
                            {{element.message}}
                        </strong>
                    </td>
                </ng-container>

                <ng-container matColumnDef="antwort">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Antwort </th>
                    <td mat-cell *matCellDef="let element"> {{element.antwort}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
                    <td mat-cell *matCellDef="let element"> {{element.date * 1000 | date: 'dd.MM.yyyy HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="tableVW">
                            ∑: {{dataSource?._data?._value?.length}}
                        </div>
                    </th>

                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-wipf-default btn-for-icon" (click)="openDelItemDialog(element)">
                            <mat-icon svgIcon="trash" aria-hidden="false" title="Löschen"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-scrollbar>
    </div>
</div>