<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- // TODO: LESS DATEI -->
        <h1 mat-dialog-title>Nachricht bearbeiten</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Frage</mat-label>
                <input matInput [(ngModel)]="data.message">
            </mat-form-field>
        </div>

        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Antwort</mat-label>
                <input matInput [(ngModel)]="data.antwort">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Abbrechen</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>