<div class="form-group conf">
    <span class="title">Hight</span>
    <input type="number" class="form-control inbutton" [(ngModel)]="sizeX" placeholder="Bitte eintragen">
    <br>
    <span class="title">Width</span>
    <input type="number" class="form-control inbutton" [(ngModel)]="sizeY" placeholder="Bitte eintragen">
    <br>
    <button (click)="reset()">Reset</button>
</div>

<ng-container *ngIf="screen">
    <table>
        <div *ngFor="let xA of screen; let x = index">
            <tr>
                <td *ngFor="let yA of xA; let y = index" title="X:{{x}} Y:{{y}}" (click)="setBlock(x,y)" [ngClass]="{ 'on': screen[x][y] , 'off': !screen[x][y] }">

                </td>
            </tr>
        </div>
    </table>
</ng-container>

<div class="form-group">
    <!-- <span class="title">Dez</span>

    <div *ngFor="let yOUT of dezdata; let x = index">
        {{yOUT}}
    </div> -->

    Hex: {{hexdata}}

    <!-- <button (click)="get()">Get</button> -->
</div>