<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- TODO: LESS DATEI -->
        <h1 mat-dialog-title>Einstellung</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Einstellung</mat-label>
                <input matInput [(ngModel)]="data.key">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Wert</mat-label>
                <input matInput [(ngModel)]="data.val">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Abbrechen</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>