<footer>
    <div class="wipf-footer text-center">
        <ng-container *ngIf="bCantLoad">
            Server nicht erreichbar - {{sAppVersion}} -
            <span class="alertBox" (click)="openSetServer()">Server einstellen</span>
            <span class="alertBox" (click)="getVersion()" *ngIf="bCantLoad">Neu laden</span>
        </ng-container>

        <ng-container *ngIf="!bCantLoad">
            <span *ngIf="bOldVersionWarn" class="alertBox" (click)="reloadPage()">
                Versionen passen nicht, Seite bitte neu Laden. Java: {{sJavaVersion}} Angular: {{sAppVersion}}
            </span>
            <span *ngIf="!bOldVersionWarn">Wipf | Version: {{sJavaVersion}}</span>
        </ng-container>
    </div>
</footer>