<footer>
  <div class="wipf-footer text-center">
    @if (!(serviceVersion.getBackendVersion())) {
      Server nicht erreichbar - {{serviceVersion.getFrontendVersion()}} -
      <span class="alertBox" (click)="rest.openSetServerDialog()">Server einstellen</span>
      <span class="alertBox" (click)="serviceVersion.reloadApp()">Neu laden</span>
    }

    @if (!(!serviceVersion.getBackendVersion())) {
      @if (this.serviceVersion.checkVersions()) {
        <span class="alertBox" (click)="serviceVersion.reloadApp()">
          Versionen passen nicht! Backend: {{serviceVersion.getBackendVersion()}} Frontend: {{serviceVersion.getFrontendVersion()}}
        </span>
      }
      @if (!this.serviceVersion.checkVersions()) {
        <span>Wipf | Version: {{serviceVersion.getBackendVersion()}}</span>
      }
    }
  </div>
</footer>