<footer>
    <div class="wipf-footer text-center">
        <ng-container *ngIf="!(serviceVersion.getBackendVersion())">
            Server nicht erreichbar - {{serviceVersion.getFrontendVersion()}} -
            <span class="alertBox" (click)="rest.openSetServerDialog()">Server einstellen</span>
            <span class="alertBox" (click)="serviceVersion.reloadApp()">Neu laden</span>
        </ng-container>

        <ng-container *ngIf="!(!serviceVersion.getBackendVersion())">
            <span *ngIf="this.serviceVersion.checkVersions()" class="alertBox" (click)="serviceVersion.reloadApp()">
                Versionen passen nicht! Backend: {{serviceVersion.getBackendVersion()}} Frontend: {{serviceVersion.getFrontendVersion()}}
            </span>
            <span *ngIf="!this.serviceVersion.checkVersions()">Wipf | Version: {{serviceVersion.getBackendVersion()}}</span>
        </ng-container>
    </div>
</footer>