<h3>Einstellungen</h3>
<hr>
<div class="settings">
    <div class="gridRow">
        <div class="gridCol">
            <h4>Grundeinstellungen</h4>
            <mat-checkbox class="example-margin" (ngModelChange)="setTelegramActive($event)" [(ngModel)]="bTelegramActive">
                Telegram Aktivieren
            </mat-checkbox>
            <hr>
            <perfect-scrollbar style="max-width: 500px; max-height: 400px;">
                <div class="form-group">
                    <span class="title">BotKey</span>
                    <input type="text" class="form-control inbutton" [(ngModel)]="sBotKey" placeholder="Bitte eintragen">
                </div>
                <!-- <div class="form-group">
                    TODO:! 
                    <span class="title">Meine Telegram id(s?)</span>
                    <input type="text" class="form-control inbutton" [(ngModel)]="todo" placeholder="Bitte eintragen TODO">
                </div> -->
            </perfect-scrollbar>
            <button type="button" class="btn btn-primary inbutton" (click)="setBotKey()">Speichern und neu laden</button>
        </div>
        <div class="gridCol">
            <h4>Hauptfunktionen</h4>
            <hr>
            <perfect-scrollbar style="max-width: 500px; max-height: 500px;">
                <button type="button" class="btn btn-danger inbutton" (click)="stopApp() ">JaSmarty Beenden</button>
                <hr>
                <button type="button" class="btn btn-primary inbutton" (click)="refreshOn() ">Refesh Telegram An</button>
                <button type="button" class="btn btn-primary inbutton" (click)="refreshOff() ">Refesh Telegram Aus</button>
            </perfect-scrollbar>
        </div>

        <div class="gridCol">
            <h4>Telegram Nachricht senden: </h4>
            <hr>
            <code>{{sText}}</code>
            <div class="form-group">
                <input type="text" class="form-control inbutton" [(ngModel)]="sText" placeholder="Nachrichten Text">
                <button type="button" class="btn btn-primary inbutton" (click)="sendMsgToGroup()">Senden</button>
            </div>
        </div>
    </div>
</div>