<h1 mat-dialog-title>ID: {{data.id}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Key</mat-label>
        <input matInput [(ngModel)]="data.key">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Info</mat-label>
        <input matInput [(ngModel)]="data.info">
    </mat-form-field>
    <br>

    <mat-checkbox class="example-margin" [(ngModel)]="data.access">
        Aktiv
    </mat-checkbox>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
    <button class="btn btn-wipf-dialog" [mat-dialog-close]="data">Speichern</button>
</mat-dialog-actions>