<h3>Funktionen</h3>
<hr>
<div>
    Zuletzt gedrückt: {{lastPressed}}
    <ng-container *ngIf="bLoopStop">
        Keine Aktualisierung möglich
    </ng-container>
</div>

<ng-scrollbar class="pscroll">
    <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Button </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'notactive': !element.active}"> {{element.button}}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktion </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'notactive': !element.active}"> {{element.action}}
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> <button class="btn editb" (click)="newItem()">Neu</button> </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'notactive': !element.active}">
                <button class="btn editb" (click)="editItem(element)">Edit</button>
                <button class="btn editb" (click)="deleteItem(element)">Löschen</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'notactive': !element.active}"> <button class="btn editb" (click)="testAction(element)">Testen</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-scrollbar>