<div class="dialogbox">
    <!-- // TODO: LESS DATEI + Scrollbar -->
    <h1 mat-dialog-title>Aktion: {{data.id}}</h1>
    <div mat-dialog-content>
        <p>Button Einstellugen</p>
        <mat-form-field>
            <mat-label>Eingang</mat-label>
            <input type="number" matInput [(ngModel)]="data.button">
        </mat-form-field>
        <br>
        <!-- TODO: LESS -->
        <mat-form-field>
            <mat-label>Aktion</mat-label>
            <input matInput [(ngModel)]="data.action">
        </mat-form-field>
    </div>

    Aktiv:
    <input type="checkbox" [(ngModel)]="data.active">

    <div mat-dialog-actions>
        <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
        <button class="btn btn-wipf-dialog" [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
    </div>
</div>
<div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
    <h3>Funktionen</h3>

    <h5>LED</h5>
    <ul>
        <li><code>led|on</code></li>
        <li><code>led|off</code></li>
        <li><code>led|toggle</code></li>
    </ul>

    <h5>Page</h5>
    <ul>
        <li><code>page|next</code></li>
        <li><code>page|last</code></li>
        <li><code>page|select|NR</code></li>
    </ul>

    <h5>Winamp</h5>
    <ul>
        <li><code>winamp|play</code></li>
        <li><code>winamp|pause</code></li>
        <li><code>winamp|stop</code></li>
        <li><code>winamp|resume</code></li>
        <li><code>winamp|nexttrack</code></li>
        <li><code>winamp|previoustrack</code></li>
        <li><code>winamp|volumeUp</code></li>
        <li><code>winamp|volumeDown</code></li>
        <li><code>winamp|volumeSet|0-255</code></li>
    </ul>

    <h5>Tastatur</h5>
    <ul>
        <li><code>write|text</code></li>
        <li><code>write|text|SPEED</code></li>
        <li><code>write|text|100</code></li>
    </ul>

    <h5>Systemlautstärke</h5>
    Achtung: Nur mit Arduino Pro-Micro möglich
    <ul>
        <li><code>volume|up</code></li>
        <li><code>volume|down</code></li>
        <li><code>volume|mute</code></li>
    </ul>

</div>