<div>
    <h3>Dynpages</h3>
    <div class="list">

        <ng-container *ngIf="bShowWarning">
            Es ist ein Fehler aufgetreten!
            <input type="checkbox" [(ngModel)]="bShowWarning">
        </ng-container>

        <div class="configline">
            <div class="box">
                Live:
                <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bLive">
            </div>
            <!-- <div class="box">
                <button class="btn btn-wipf-default" (click)="load()">Neu laden</button>
            </div> -->
            <div class="box">
                Filter: <input (ngModelChange)="applyFilter()" [(ngModel)]="sFilter">
            </div>
            <div class="box">
                <button class="btn btn-wipf-default" (click)="newItem()">Neuen Eintrag erstellen</button>
            </div>
        </div>

        <perfect-scrollbar class="pscroll">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{ 'lightblue': element.active === 'ZITAT' , 'green': element.active === 'DONE' , 'yellow': element.active === 'NEW', 'red': element.active === 'TODO'  }">
                        {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="html">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Html </th>
                    <td mat-cell *matCellDef="let element"> {{element.html}} </td>
                </ng-container>

                <ng-container matColumnDef="script">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Script </th>
                    <td mat-cell *matCellDef="let element"> {{element.script}} </td>
                </ng-container>

                <ng-container matColumnDef="style">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Style </th>
                    <td mat-cell *matCellDef="let element"> {{element.style}} </td>
                </ng-container>

                <ng-container matColumnDef="rechte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rechte </th>
                    <td mat-cell *matCellDef="let element"> {{element.rechte}} </td>
                </ng-container>

                <ng-container matColumnDef="live">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Live </th>
                    <td mat-cell *matCellDef="let element"> {{element.live}} </td>
                </ng-container>

                <ng-container matColumnDef="button">
                    <th th mat-header-cell *matHeaderCellDef>Verwalten</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-wipf-default" (click)="openDialog(element)">Edit</button>
                        <button class="btn btn-wipf-default" (click)="deleteItem(element)">Löschen</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </perfect-scrollbar>
        Treffer: {{dynpagearry.length}}
    </div>
</div>