<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- TODO: LESS DATEI -->
        <h1 mat-dialog-title>Id: {{data.id}}</h1>
        <div mat-dialog-content>
            Html:
            <br>
            <textarea [(ngModel)]="data.html"></textarea>
            <br>
            Script:
            <br>
            <textarea [(ngModel)]="data.script"></textarea>
            <br>
            Style:
            <br>
            <textarea [(ngModel)]="data.style"></textarea>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Rechte</mat-label>
                <mat-select [(value)]="data.rechte">
                    <!-- <mat-option>None</mat-option> -->
                    <mat-option value="ADMIN">Admin</mat-option>
                    <mat-option value="USER">User</mat-option>
                    <mat-option value="PUBLIC">Public</mat-option>
                    <mat-option value="NONE">None</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            Live
            <input type="checkbox" [(ngModel)]="data.live">
        </div>
        <hr>

        <div mat-dialog-actions>
            <button class="btn btn-wipf-dialog" (click)="onNoClick()">Abbrechen</button>
            <button class="btn btn-wipf-dialog" [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>