.todolist {
  padding-right: 0px;
}

.pscroll {
  height: 76vh;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.lightblue {
  background-color: lightblue;
}

.pscrollConfigline {
  height: 60px;
}
