<div>
    <h3>ToDo Liste</h3>
    <div class="todolist">
        <perfect-scrollbar class="pscrollConfigline">
            <ng-container *ngIf="bShowWarning">
                Es ist ein Fehler aufgetreten!
                <input type="checkbox" [(ngModel)]="bShowWarning">
            </ng-container>

            <div class="configline">
                <div class="iconbox">
                    Neu Laden:
                    <button class="btn btn-default btn-for-icon" (click)="load()">
                        <mat-icon svgIcon="restart" aria-hidden="false" title="neu Laden"></mat-icon>
                    </button>

                    <br>
                    Zeige Alles:
                    <button class="btn btn-default btn-for-icon" *ngIf="bShowAllTable" (click)="showAllTable()">
                        <mat-icon svgIcon="ok" aria-hidden="false" title="neu Laden"></mat-icon>
                    </button>
                    <button class="btn btn-default btn-for-icon" *ngIf="!bShowAllTable" (click)="showAllTable()">
                        <mat-icon svgIcon="round" aria-hidden="false" title="neu Laden"></mat-icon>
                    </button>
                </div>
                <div class="iconbox">
                    Neu:
                    <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bNew">
                    <br>
                    Zu Tun:
                    <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bTodo">
                </div>
                <div class="iconbox">
                    Später:
                    <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bLater">
                    <br>
                    Fertig:
                    <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bDone">
                    <br>
                    Zitate:
                    <input type="checkbox" (ngModelChange)="load()" [(ngModel)]="bZitat">
                </div>
                <div class="box">
                    <mat-form-field>
                        <mat-label>Filtern</mat-label>
                        <input matInput (ngModelChange)="applyFilter()" [(ngModel)]="sFilter">
                    </mat-form-field>
                </div>
                <div class="box">
                    Neu hinzufügen:
                    <button class="btn btn-default btn-for-icon" (click)="newItem()">
                        <mat-icon svgIcon="box" aria-hidden="false" title="Neu erstellen"></mat-icon>
                    </button>
                </div>
            </div>
        </perfect-scrollbar>

        <perfect-scrollbar class="pscroll">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{ 'lightblue': element.active === 'ZITAT' , 'green': element.active === 'DONE' , 'yellow': element.active === 'NEW', 'red': element.active === 'TODO'  }">
                        {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.data}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
                    <td mat-cell *matCellDef="let element"> {{element.date * 1000 | date: 'dd.MM.yyyy HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="editby">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EditBy </th>
                    <td mat-cell *matCellDef="let element"> {{element.editby}} </td>
                </ng-container>

                <ng-container matColumnDef="button">
                    <!-- <th mat-header-cell *matHeaderCellDef><button class="btn btn-default" (click)="newItem()">Neu</button></th> -->
                    <th th mat-header-cell *matHeaderCellDef>Verwalten</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-default" (click)="openDialog(element)">
                            <mat-icon svgIcon="edit" aria-hidden="false" title="Bearbeiten"></mat-icon>
                        </button>
                        <button class="btn btn-default" (click)="deleteItem(element)">
                            <mat-icon svgIcon="trash" aria-hidden="false" title="Löschen"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </perfect-scrollbar>
        Treffer: {{toarry.length}}
    </div>
</div>