<h3>Display</h3>
<hr>
<div class="displayfull" *ngFor="let line of display;">
    <div class="display">
        <span class="line">{{line}}</span>
    </div>
</div>
<ng-container *ngIf="bLoopStop">
    Keine Aktualisierung möglich
</ng-container>

<div class="gotopagelist">
    <h3>Seiten</h3>
    <hr>
    <div class="sitebuttonlist">
        <div *ngFor="let page of pagelist;">
            <button class="btn btn-wipf-default sitebutton" (click)="selectSite(page)">{{page.name}}</button>
        </div>
    </div>
</div>

<button class="btn btn-wipf-default" (click)="refreshNow()">Display Aktualisieren</button>