.cont {
  height: 400px;
  width: 500px;
}

.title {
  font-weight: 700;
}

.gridRow {
  display: flex;
  margin: 0 -15px;
}

.gridRow_ohne_rand {
  display: flex;
}

.gridCol {
  padding: 0 15px;
  flex: 1 0 250px;
  width: 25%;
}

.btn-default {
  border: solid 1px black;
  background-color: rgb(216, 216, 216);

  &:hover {
    background-color: rgb(61, 61, 61);
  }
}

.list {
  padding-right: 10px;
}

table {
  width: 100%;
  height: 70%;
}

th.mat-sort-header-sorted {
  color: black;
}

.pscroll {
  height: 76vh;
}

.configline {
  text-align: end;
  display: block ruby;
  margin-bottom: 5px;
}

.box {
  margin-right: 15px;
}

button {
  margin-right: 5px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(231, 231, 231);
}

.day-row-is-clicked {
  font-weight: bold;
  background-color: rgb(179, 179, 179);
}

.mat-column-date {
  // width: 32px;
  text-align: center;
  font-weight: bold;
}
