<div style="display: flex">
    <div style="padding: 0 15px;flex: 1 0 250px;width: 25%;">
        <!-- TODO: LESS DATEI -->
        <h1 mat-dialog-title>Id: {{data.id}} / TypId: {{data.typ}}</h1>
        <div mat-dialog-content>

            <mat-form-field>
                <mat-label>Typ</mat-label>
                <input matInput [(ngModel)]="data.typ">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Typ</mat-label>
                <mat-select [(value)]="data.typ">
                    <mat-option value='-1'>None</mat-option>
                    <ng-container *ngFor="let type of daylogTypes; let x = index">
                        <mat-option value='{{type.id}}'>{{type.type}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="data.text">
            </mat-form-field>
            <br>

            <!-- <mat-label>Status</mat-label> -->
            <!-- <input matInput [(ngModel)]="data.active"> -->

        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Abbrechen</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
        </div>
    </div>
</div>