<h3>Debug Seite</h3>
<hr>
<div class="cont">
    <div class="gridRow">
        <div class="gridCol">
            <h4>SQL</h4>
            <input type="text" class="form-control" [(ngModel)]="sSQL_IN" placeholder="Query">

            <button type="button" class="btn btn-wipf-default" (click)="doSQL()">SEND</button>
        </div>
        <div class="gridCol">
            <div [innerHTML]="sSQL_OUT"></div>
        </div>
    </div>
    <br>
    <button (click)="warten()">Warten</button>
    <br>
    UHR: {{uhr}}
    <br>

    Alle Icons:
    <mat-icon svgIcon="trash" aria-hidden="false" title="trash"></mat-icon>
    <mat-icon svgIcon="thumbsup" aria-hidden="false" title="thumbsup"></mat-icon>
    <mat-icon svgIcon="box" aria-hidden="false" title="box"></mat-icon>
    <mat-icon svgIcon="cancel" aria-hidden="false" title="cancel"></mat-icon>
    <mat-icon svgIcon="check_all" aria-hidden="false" title="check_all"></mat-icon>
    <mat-icon svgIcon="check_circle" aria-hidden="false" title="check_circle"></mat-icon>
    <mat-icon svgIcon="document" aria-hidden="false" title="document"></mat-icon>
    <mat-icon svgIcon="edit" aria-hidden="false" title="edit"></mat-icon>
    <mat-icon svgIcon="extern_link" aria-hidden="false" title="extern_link"></mat-icon>
    <mat-icon svgIcon="home" aria-hidden="false" title="home"></mat-icon>
    <mat-icon svgIcon="info" aria-hidden="false" title="info"></mat-icon>
    <mat-icon svgIcon="ok" aria-hidden="false" title="ok"></mat-icon>
    <mat-icon svgIcon="picture" aria-hidden="false" title="picture"></mat-icon>
    <mat-icon svgIcon="puzzle" aria-hidden="false" title="puzzle"></mat-icon>
    <mat-icon svgIcon="restart" aria-hidden="false" title="restart"></mat-icon>
    <mat-icon svgIcon="round" aria-hidden="false" title="round"></mat-icon>
    <mat-icon svgIcon="search" aria-hidden="false" title="search"></mat-icon>
    <mat-icon svgIcon="services" aria-hidden="false" title="services"></mat-icon>
    <mat-icon svgIcon="settings" aria-hidden="false" title="settings"></mat-icon>
    <mat-icon svgIcon="support" aria-hidden="false" title="support"></mat-icon>
    <mat-icon svgIcon="unavailable" aria-hidden="false" title="unavailable"></mat-icon>
    <mat-icon svgIcon="user" aria-hidden="false" title="user"></mat-icon>
    <mat-icon svgIcon="download" aria-hidden="false" title="download"></mat-icon>
    <mat-icon svgIcon="uhr" aria-hidden="false" title="uhr"></mat-icon>
    <mat-icon svgIcon="plus_fill" aria-hidden="false" title="plus_fill"></mat-icon>
    <mat-icon svgIcon="plus" aria-hidden="false" title="plus"></mat-icon>

    <br>

    ngx-charts-bar-vertical
    <ngx-charts-bar-vertical [view]="[1000,400]" [results]="testData" [xAxisLabel]="'Testing'" [legendTitle]="'Titel'" [yAxisLabel]="'xxx'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
    </ngx-charts-bar-vertical>

    ngx-charts-pie-chart
    <ngx-charts-pie-chart [results]="testData" [legend]="true" [legendTitle]="'Test Report'" [view]="[1000,300]" [labels]="true">
    </ngx-charts-pie-chart>

    ngx-charts-advanced-pie-chart
    <ngx-charts-advanced-pie-chart [results]="testData" [gradient]="true">
    </ngx-charts-advanced-pie-chart>

    ngx-charts-pie-grid
    <ngx-charts-pie-grid [results]="testData">
    </ngx-charts-pie-grid>

</div>