<h3>Debug Seite</h3>
<hr>

Fokus: {{isKeyboardVisible}}

<div class="gridRow">
    <div class="gridCol">
        <ul>
            <li>
                Servertime <b>{{serverTime}}</b>
                {{serverTime | date: 'dd.MM.yyyy HH:mm:ss :SSS'}}
            </li>
            <li>
                Clienttime <b>{{clientTime}}</b>
                {{clientTime | date: 'dd.MM.yyyy HH:mm:ss :SSS'}}
            </li>
            <li>
                DIV <b>{{serverTime-clientTime}}</b>
            </li>
        </ul>
        <button class="btn btn-wipf-default" (click)="loadUhr()">Uhr Reload</button>

        <button class="btn btn-wipf-default" (click)="warten()">Dialog Warten</button>
    </div>
    <div class="gridCol">
        Alle Icons:
        <mat-icon svgIcon="ok" aria-hidden="false" title="ok"></mat-icon>
        <mat-icon svgIcon="info" aria-hidden="false" title="info"></mat-icon>
        <mat-icon svgIcon="check_circle" aria-hidden="false" title="check_circle"></mat-icon>
        <mat-icon svgIcon="round" aria-hidden="false" title="round"></mat-icon>
        <mat-icon svgIcon="unavailable" aria-hidden="false" title="unavailable"></mat-icon>
        <mat-icon svgIcon="cancel" aria-hidden="false" title="cancel"></mat-icon>
        <br>
        <mat-icon svgIcon="check_all" aria-hidden="false" title="check_all"></mat-icon>
        <mat-icon svgIcon="trash" aria-hidden="false" title="trash"></mat-icon>
        <mat-icon svgIcon="thumbsup" aria-hidden="false" title="thumbsup"></mat-icon>
        <mat-icon svgIcon="box" aria-hidden="false" title="box"></mat-icon>
        <mat-icon svgIcon="document" aria-hidden="false" title="document"></mat-icon>
        <mat-icon svgIcon="edit" aria-hidden="false" title="edit"></mat-icon>
        <mat-icon svgIcon="extern_link" aria-hidden="false" title="extern_link"></mat-icon>
        <mat-icon svgIcon="home" aria-hidden="false" title="home"></mat-icon>
        <mat-icon svgIcon="picture" aria-hidden="false" title="picture"></mat-icon>
        <mat-icon svgIcon="puzzle" aria-hidden="false" title="puzzle"></mat-icon>
        <mat-icon svgIcon="restart" aria-hidden="false" title="restart"></mat-icon>
        <mat-icon svgIcon="search" aria-hidden="false" title="search"></mat-icon>
        <mat-icon svgIcon="services" aria-hidden="false" title="services"></mat-icon>
        <mat-icon svgIcon="settings" aria-hidden="false" title="settings"></mat-icon>
        <mat-icon svgIcon="support" aria-hidden="false" title="support"></mat-icon>
        <mat-icon svgIcon="user" aria-hidden="false" title="user"></mat-icon>
        <mat-icon svgIcon="download" aria-hidden="false" title="download"></mat-icon>
        <mat-icon svgIcon="uhr" aria-hidden="false" title="uhr"></mat-icon>
        <mat-icon svgIcon="plus_fill" aria-hidden="false" title="plus_fill"></mat-icon>
        <mat-icon svgIcon="plus" aria-hidden="false" title="plus"></mat-icon>
        <mat-icon svgIcon="minus" aria-hidden="false" title="minus"></mat-icon>
        <mat-icon svgIcon="pfeil_L" aria-hidden="false" title="pfeil_L"></mat-icon>
        <mat-icon svgIcon="pfeil_R" aria-hidden="false" title="pfeil_R"></mat-icon>
    </div>
</div>
<hr>

<button class="btn btn-wipf-default" (click)="startDailyTask()">StartDailyTask</button>

<app-crypt></app-crypt>

<ng-scrollbar class="barbox" track="all">
    <h1>Bar (echarts)</h1>
    <div echarts [options]="barOption" style="width:100%;height:400px;"></div>

    <hr>
    <h1>Pie (echarts)</h1>
    <div echarts [options]="pieOption" style="width:100%;height:300px;"></div>

    <hr>
    <h1>Advanced Pie (echarts)</h1>
    <div echarts [options]="advancedPieOption" style="width:100%;height:300px;"></div>

    <hr>
    <h1>Pie Grid (echarts)</h1>
    <div echarts [options]="pieGridOption" style="width:100%;height:300px;"></div>
</ng-scrollbar>