<button>Zurück</button>
<button>Weiter</button>

<table>
    <tr>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
        <th>Samstag</th>
        <th>Sonntag</th>
    </tr>
    <tr>
        <td>{{kale[0]}}</td>
        <td>{{kale[1]}}</td>
        <td>{{kale[2]}}</td>
        <td>{{kale[3]}}</td>
        <td>{{kale[4]}}</td>
        <td>{{kale[5]}}</td>
        <td>{{kale[6]}}</td>
    </tr>
    <tr>
        <td>{{kale[0 + 7]}}</td>
        <td>{{kale[1 + 7]}}</td>
        <td>{{kale[2 + 7]}}</td>
        <td>{{kale[3 + 7]}}</td>
        <td>{{kale[4 + 7]}}</td>
        <td>{{kale[5 + 7]}}</td>
        <td>{{kale[6 + 7]}}</td>
    </tr>
    <tr>
        <td>{{kale[0 +7 +7]}}</td>
        <td>{{kale[1 +7 +7]}}</td>
        <td>{{kale[2 +7 +7]}}</td>
        <td>{{kale[3 +7 +7]}}</td>
        <td>{{kale[4 +7 +7]}}</td>
        <td>{{kale[5 +7 +7]}}</td>
        <td>{{kale[6 +7 +7]}}</td>
    </tr>
    <tr>
        <td>{{kale[0 +7+7 +7]}}</td>
        <td>{{kale[1 +7+7 +7]}}</td>
        <td>{{kale[2 +7+7 +7]}}</td>
        <td>{{kale[3 +7+7 +7]}}</td>
        <td>{{kale[4 +7+7 +7]}}</td>
        <td>{{kale[5 +7+7 +7]}}</td>
        <td>{{kale[6 +7+7 +7]}}</td>
    </tr>
    <tr>
        <td>{{kale[0 +7+7+7 +7]}}</td>
        <td>{{kale[1 +7+7+7 +7]}}</td>
        <td>{{kale[2 +7+7+7 +7]}}</td>
        <td>{{kale[3 +7+7+7 +7]}}</td>
        <td>{{kale[4 +7+7+7 +7]}}</td>
        <td>{{kale[5 +7+7+7 +7]}}</td>
        <td>{{kale[6 +7+7+7 +7]}}</td>
    </tr>
    <tr>
        <td>{{kale[0 +7+7+7 +7+7]}}</td>
        <td>{{kale[1 +7+7+7 +7+7]}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>