<div class="gridRow">
    <div class="gridCol">
        <input type="number" class="form-control" [(ngModel)]="nPageId">
    </div>
    <div class="gridCol">
        <button type="button" class="btn btn-wipf-default" (click)="load()">Laden</button>
    </div>
</div>

<hr>

<!-- TODO: geht nicht -->
<script>{ { sScript } }</script>

<ng-scrollbar class="pscroll">
    <!-- <div [ngStyle]="getSytle()" [innerHTML]="sHtml"></div> -->
    <div [innerHTML]="sHtml"></div>
</ng-scrollbar>