<h3>Crypt</h3>

<button class="btn btn-wipf-default" (click)="crypt()">Crypt</button>
<button class="btn btn-wipf-default" (click)="decrypt()">Decrypt</button>

<br>
<mat-form-field>
    <mat-label>Key</mat-label>
    <input matInput [(ngModel)]="crItem.key">
</mat-form-field>

<br>
<mat-form-field>
    <mat-label>Eingabe:</mat-label>
    <textarea [(ngModel)]="crItem.data" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
</mat-form-field>

<br>
Ausgabe:
{{textOut}}