<h1 mat-dialog-title>Id: {{data.id}}</h1>
<div mat-dialog-content>
    <p>Button Config</p>
    <mat-form-field>
        <mat-label>Button</mat-label>
        <input matInput [(ngModel)]="data.button">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Aktiv</mat-label>
        <input matInput [(ngModel)]="data.active">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Action</mat-label>
        <input matInput [(ngModel)]="data.action">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
</div>