<h1 mat-dialog-title>Aktion: {{data.id}}</h1>
<div mat-dialog-content>
    <p>Button Einstellugen</p>
    <mat-form-field>
        <mat-label>Eingang</mat-label>
        <input type="number" matInput [(ngModel)]="data.button">
    </mat-form-field>
    <br>
    <!-- TODO: LESS -->
    <mat-form-field>
        <mat-label>Aktion</mat-label>
        <input matInput [(ngModel)]="data.action">
    </mat-form-field>
</div>

Aktiv:
<input type="checkbox" [(ngModel)]="data.active">

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Speichern</button>
</div>