/* You can add global styles to this file, and also import other style files */

// Dialoge
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-size: 12px !important;
}

.btn {
  font-size: 12px !important;
}

.btn-tr {
  border: none;
}

.mat-header-cell {
  font-size: 12px !important;
  font-weight: 500;
}

.mat-cell,
.mat-footer-cell {
  font-size: 13px !important;
}

h1 {
  font-size: 20x !important;
}

h2 {
  font-size: 18px !important;
}

h3 {
  font-size: 16px !important;
}

h4 {
  font-size: 16px !important;
}

h5 {
  font-size: 14px !important;
}

h6 {
  font-size: 13px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 512 !important; // Etwas fettere schrift
}

.btn-green {
  color: #fff;
  background-color: #35dc35 !important;
  border-color: #43dc35 !important;
}

.btn-green:hover {
  color: #fff;
  background-color: #4ebb2d !important;
  border-color: #3ab02a !important;
}

.btn-for-icon {
  width: 24px;
  height: 24px;
  padding: 0px !important;
  margin-left: 1px;

  .mat-icon {
    width: 16px;
  }
}

.btn-wipf-default {
  border: solid 1px black !important;
  background-color: rgb(216, 216, 216) !important;

  &:hover {
    background-color: rgb(95, 95, 95) !important;
  }
}

.btn-wipf-dialog {
  border: solid 1px black !important;
  background-color: rgb(219, 219, 219) !important;
  margin-left: 3px !important;
  margin-right: 3px !important;

  &:hover {
    background-color: rgb(110, 110, 110) !important;
  }
}

.btn-wipf-mini {
  margin-right: 2px;
  margin-top: 10px;
  font-size: 8px !important;
  border: solid 1px rgb(56, 56, 56) !important;
  background-color: rgb(233, 233, 233) !important;

  &:hover {
    background-color: rgb(238, 255, 0) !important;
  }
}

.dialogbox {
  // padding: 0 15px;
  max-width: 275px;
}

.tableVW {
  min-width: 64px;
}

td {
  white-space: pre-line;
  word-break: break-word;
  padding-right: 2px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 10px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px !important;
}

.mdc-data-table__header-cell {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #0000000a;
}

.mdc-list-item__primary-text {
  font-size: 12px !important;
}

.mat-mdc-option {
  min-height: 36px !important;
}

.mat-mdc-select {
  font-size: 13px;
}

.mat-mdc-form-field-infix {
  font-size: 13px;
}

.hide {
  display: none;
}

//// Tabellen Configline

.configline {
  text-align: end;
  display: flex;
  margin-bottom: 5px;
}

.box {
  display: inline;
  margin-right: 5px;
  margin-bottom: 1px;
}

.iconbox {
  display: inline;
  margin-right: 5px;
  min-width: 100px;

  .btn {
    margin-bottom: 1px;
  }
}
