/* You can add global styles to this file, and also import other style files */

// Dialoge
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.gridRow {
  display: flex;
  //flex-wrap: wrap;
  margin: 0 -15px;
}

.gridCol {
  padding: 0 15px;
  flex: 1 0 250px;
  width: 25%;
}

.gridColSmall {
  padding: 0 15px;
  flex: 1 0 90px;
  align-items: center;
  display: flex;
}
