<!doctype html>
<html lang="de">
<head>
    <title>Was gibt es zu essen?</title>
<meta charset="utf-8">
<style>
body {
    font-family: Verdana, Helvetica, sans-serif;
    color:white;
    text-align: center;
    background: black;
}
</style>
<script>


function loseaus() {
    var spiele = [

"Bauernhacktopf",
"Bratkartoffeln",
"Bratwürste",
"Camembert",
"Fischstäbchen",
"Fleischküchle",
"Frühlingsrollen",
"Gemüsesuppe",
"Gyros",
"Hackfleischsoße",
"Kartoffelsalat",
"Käsenudeln",
"Kloss",
"Kräuter Baguette",
"Kroketten",
"Lasagne",
"Leberkäse",
"Nudelauflauf",
"Pfannkuchen",
"Pizza",
"Pommes",
"Putenfleisch",
"Reis",
"Schinkennudeln",
"Schnitzel ",
"Spagetti",
"Spiegelei",
"Spinat",
"Wienerle",
"Wienerle im Blätterteig",
"Pfannkuchen",
"Apfelauflauf",
"Ofenknödel",
"Apfelstrudel",
"Grießbrei",
"Zwetschenmännchen",
"Arme Ritter",
"Baggers",
"Schnitzel",
"Käsespätzle",
"Pfannkuchen",
"Pizza",
"Yogurth",
"Reis mit Frühlingsrollen",
"Spinat",
"Nudeln ohne Soße",
"Nudeln mit Hackfleich",
"Kartoffelsalat",
"Kraut mit Bratwürstchen",
"Ganz wenig Fisch mit Kartoffeln",
"Gyros",
"Bort",
"Leberknödelsuppe"

];

    var zufall = Math.floor(Math.random() * spiele.length);

    var ergebniss = spiele[zufall];

    var phrasenElement = document.getElementById("ergebniss");

    phrasenElement.innerHTML = ergebniss;
}
window.onload = loseaus;
</script>
</head>
<body>
    <h1>Heute gibt es:</h1>
    <p>
    <p style="color:red;font-size:50pt", id="ergebniss"></p>

    <FORM>

    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Ne ich will was anderes">
    </FORM>

</body>
</html>



