body {
    margin: 0;
}

@media screen and (max-width: 50em) {
    main {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 2fr 4fr 1fr;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
    }
}

@media screen and (min-width: 50em) {

    main {
        height: 100vh;
        display: grid;
        grid-template-rows: 2fr 4fr 1fr;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "header header"
            "nav article"
            "footer footer";
    }
}

header {
    grid-area: header;
    background-color: aquamarine;
}

footer {
    grid-area: footer;
    background-color: blanchedalmond;
}

nav {
    grid-area: nav;
    background-color: cornflowerblue;
}

article {
    grid-area: article;
    background-color: crimson;
}